.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.search-container {
  position: relative;
  width: 100%; 

}

#search-btn {
  border-radius: 0.3rem;
  padding: 0.5 rem 0.5 rem;
  position: absolute;
  left: 15rem;
}

#search {
  border-radius: 0.3rem;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin: 10rem auto auto auto;
  height: 70vh;
  width: 100%;
} 

.img01 {
  width: 50%;
  display: block;
  margin: auto auto 1.25rem auto;
}

.login-container {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.63rem rgba(0, 0, 0, 0.1);
  width: 18.75rem;
  border-radius: 0.06rem;
  display: grid;
  flex-direction: column; /*centra los elementos en columna */
  align-items: center;
  justify-content: center;
}

#user , #pass {
  border-radius: 0.94rem;
  padding-left: 0.63rem;
  width: 100%;
}

#but {
  border-radius: 0.94rem;
  width: 12.38rem;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

#but:hover {
  background-color: darkorange;
}

/* Imagenes dentro de del input  */
#user {
  background-image: url("img/User.png");
  background-repeat: no-repeat;
  background-position: 10rem;
  background-size: 1.25rem 1.25rem;
}

#pass {
  background-image: url("img/Lock.png");
  background-repeat: no-repeat;
  background-position: 10rem;
  background-size: 1.25rem 1.25rem;
}

.login-container h4 {
  color: darkorange;
  text-align: center;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

/*.container {
  margin-top: 2px;
  display: inline-block;
  position: fixed;
} */

@media (max-width: 425px) {
  .log {
    margin: 5rem auto auto auto;
    height: 75vh;
    justify-content: space-evenly;
  }

  .text-muted {
    font-size: 0.7rem;
  }

  .login-container {
    width: 12rem; /* Ancho del cuadro */
    padding: 1.25rem; /* Espacio interior del cuadro */
    height: 13rem;
    font-size: 0.8rem;
  }
}


.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
} 

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.product {
  display: flex;
  flex-direction: column;
  transform-origin: top;
  padding: 1.25rem;
  margin: 0.63rem 0.63rem 0.63rem 0.63rem;
  border-style: solid;
  border-width: 0.063rem;
  border-radius: 0.63rem;
  border-color: rgb(182, 173, 173);
  width: 28%;
  overflow: hidden;
}

.product img {
  padding: 0.31rem;
  border-style: solid;
  border-color: rgb(182, 173, 173);
  border-width: 0.063rem;
  border-radius: 0.63rem;
  margin-top: 2.5rem;
  margin-bottom: 3.75rem;
  width: 100%;
}

.product h2 { /* nombre */
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.63rem;
  word-wrap: break-word;
  word-break: normal;
  transform: scale(1);
}

.product p {  /* precio */
  padding: 0.31rem;
  font-size: 1.5rem;
  font-weight: bold;
  word-wrap: break-word;
  word-break: normal;
  transform: scale(1);
}

.product p:nth-of-type(2) { /* descripción */
  font-size: 0.8rem;
  float: right;
  word-wrap: break-word;
  word-break: normal;
  transform: scale(1);
}

.product p:nth-of-type(3) { /* vendidos */
  font-size: 0.813rem;
  word-wrap: break-word;
  word-break: normal;
  transform: scale(1);
}

#product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto auto;
  gap: 0.63rem;
}

#listado-titulo, #producto-titulo {
  text-align: center;
  font-weight: bolder;
  margin: 1.875rem 0.63rem 1.875rem 0.63rem;
}

@media (max-width: 768px) {
  .product {
    width: 40%;
  }

  .product img {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 320px) {
  .product {
    min-width: 15rem;
  }
  
  .product img {
    min-width: 2rem;
  }

  .product h2 { /* nombre */
    font-size: 1rem;
    margin-bottom: 0.40rem;
  }
  
  .product p {  /* precio */
    font-size: 1rem;
  }
  
  .product p:nth-of-type(2) { /* vendidos */
    font-size: 0.6rem;
  }
  
  .product p:nth-of-type(3) { /* descripcion */
    font-size: 0.6rem;
  }
}

/* aca empeiza el css del prod individual*/
#product {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  margin-top: 6rem;
  margin-inline: auto;
  width: 100%;
}

.selectedProduct img {
  padding: 0.31rem;
  border-style: solid;
  border-color: rgb(182, 173, 173);
  border-width: 0.063rem;
  border-radius: 0.63rem;
  margin: 2.5rem 2.5rem 3.75rem auto;
  width: 60%;
  float: left;
  object-fit: cover;
}

.selectedProduct h2 { /*titulo*/
  font-size: 2rem;
  flex: 1;
  margin-top: 5rem;
}

.selectedProduct p:nth-of-type(1) { /*precio*/
  font-size: 1.5rem;
  font-weight: bold;
}

.selectedProduct p:nth-of-type(2) { /*vendidos*/
  font-size: 0.7rem;
  float: right;
  text-align: right;
  margin-left: 3rem;
}

.selectedProduct p:nth-of-type(3) { /*descripcion*/
  font-size: 1rem;
  text-align: justify;
  word-wrap: break-word;
  word-break: normal;
  margin-top: 1rem;
  margin-right: 0.3rem;
}

.selectedProduct p:nth-of-type(4) { /*categoria*/
  font-size: 0.7rem;
  float: right;
  margin-top: 1rem;
  font-weight: bold;
}



.filtrop {
  display: flex;
  gap: 0.7rem;
  justify-content: right;
margin-left: 44rem;
max-width: 20rem;
}


 /*Aquí comienza el css rating product.info*/
.container-rating {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.rating {
  direction: rtl;
  display: inline-block;
}

.rating input {
  display: none;
}

.star {
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
}

.rating input:checked ~ .star {
  color: #f7b733;
}

.rating input:checked + .star {
  color: #f7b733;
}

.review {
  margin-top: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.submit-btn {
  margin-top: 5px;
  float: right;
  padding: 10px 15px;
  background-color: #f7b080;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #64d16dfb;
}

 
/* Estilo de comentarios de productos */
.titulo-comentario {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

.comentario {
  border: 0.063rem solid #ccc;
  padding: 0.938rem;
  margin: 0.938rem 0;
  border-radius: 0.625rem;
  background-color: #fdfdfd; /* Fondo blanco */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* Contenedor izquierdo para usuario y calificación */
.comentario .contenedor-izquierdo {
  display: flex;
  align-items: center;
  width: 100%; /* Para que ocupe todo el ancho del div */
  margin-bottom: 0.625rem;
}

/* nombre de usuario */
.comentario .usuario {
  font-weight: bolder;
  background-color: #f7b080;
  padding: 0.313rem 0.625rem;
  border-radius: 0.800rem;
  color: black;
  margin-right: 1.25rem; /* Separación con la calificación */
  display: inline-block; /* Para que el box-shadow funcione */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra alrededor del nombre de usuario */
}

/* calificación */
.comentario .calificacion {
  display: flex;
  align-items: center;
  color: goldenrod; /* Estrellas en amarillo */
  font-size: 1.125rem;
  
}

/* Estilo de la calificación con estrellas */
.rating-static {
  display: flex;
  justify-content: flex-start; /* Estrellas alineadas a la izquierda */
 
}

.rating-static label {
  font-size: 1.25rem; /* Tamaño de la estrella */
  color: rgb(247, 243, 243); /* Estrellas vacías */
  margin-right: 0.188rem; /* Espaciado entre estrellas */
  text-shadow: 2px 1.5px 1px goldenrod;
}


.rating-static .filled { 
  color: goldenrod; /* Estrellas llenas */ 
  text-shadow: 2px 2px 2px white;
}

/* Estilo del comentario */
.comentario .comentario-texto {
  font-size: 1rem;
  color:black;
  margin-top: 0.625rem;
  width: 100%; /* Para que el comentario ocupe toda la línea siguiente */
}

/* Estilo para la fecha */
.comentario .fecha {
  text-align: right;
  font-size: 0.75rem;
  color: #888;
  font-style: italic;
  margin-left: auto; /* Alinear fecha al lado derecho */
}

/* Ajuste general para las estrellas y el contenedor */
.comentario p {
  margin: 0.313rem 0;
}

<<<<<<< HEAD
=======
.rating-static label {
  font-size: 30px;
  color: #ccc; /* Estrellas vacías */
}

.rating-static .filled {
  color: #ffcc00; /* Estrellas llenas */
}




>>>>>>> 58cde6ef94ed95ed2e89e1b1e12bf7045cea987f
